/* .item {
    color: blueviolet;
    cursor: pointer;
    text-transform: uppercase; 
    letter-spacing: 0.25em;
  }  
  
  .toDo{
    background-color: aquamarine;
    margin:5px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  
  .done{
    text-decoration: line-through 3px aquamarine;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  } */