/* Item Styles */

.item {
    color: blueviolet;
    cursor: pointer;
    text-transform: uppercase;     
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine; 
    margin: 10px; 
    padding: 10px;
  }  

  .toDo{ 
    letter-spacing: 0.25em; 
    max-width: 70%;     
  }

  .toDo:hover{
    text-decoration: line-through 3px rgb(217, 255, 127);

  }
  
  .done{
    text-decoration: line-through 3px rgb(217, 255, 127);
    

  }
  .delete {
    color: rgb(43, 61, 226);
    font-size: 0.6em ;   
    
  }